html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #2C003E 0%, #030303 100%);
    font-family: "Poppins", sans-serif;
    color: #FFF;
    animation: fadeIn 3s ease-in;
}


@keyframes fadeIn {
    0% {
        opacity: 0; /* Começa invisível */
    }
    100% {
        opacity: 1; /* Totalmente visível */
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.25rem;
    padding-block: 1.25rem;
    max-width: 1366px;
    /* margin-inline: auto; */
}

.logo h1 {
    font-size: 1.5rem;    
    font-weight: 600;
    font-family: "Gowun Batang", serif;
    margin-inline: auto;
    letter-spacing: 10px;
}

#navbar {
    width: auto; /* Largura automática para se ajustar ao conteúdo */
    background-color: #2C003E; 
    position: fixed; 
    top: 0; /* Mantém no topo */
    right: 0; /* Alinha à direita */
    z-index: 1000; /* Mantém a navbar acima de outros elementos */
    padding: 20px; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #8A2BE2;
}


.btnNav {
    background-color: transparent;
    border: 0px solid #ac3cf6;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}

.btnNav:hover {
    background-color: #ac3cf6;
}

/* section 1 */

.hero {
    display: flex;
    padding-inline: 1.25rem;
    padding-top: 6rem;
    overflow: hidden;
    max-width: 1280px;
    margin-inline: auto;
}

.hero__title {
    font-size: 2.20rem;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-top: 0.75rem;
}

.hero__left {
    flex: 1;
}

.hero__right {
    flex: 1;
}

.hero__description {
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 300;
    line-height: calc(1em + 0.5rem);
    margin-block: 1.20rem; /* espaço  cima é baixo */
    max-width: 55ch;
}

.hero_btn {
    background: transparent;
    padding: 1em 2rem;
    border-radius: 10px;
    border: 2px solid #ac3cf6;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}

.hero_btnCadastro {
    background: transparent;
    padding: 1em 2rem;
    border-radius: 10px;
    border: 2px solid #ac3cf6;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.hero_btnCadastro:hover {
    background-color: #ac3cf6;
}

.hero_btn:hover {
    background-color: #ac3cf6;
}

/* HERO IMG */

.hero__img {
    transform: rotate(15deg);
    max-width: 350px;
    animation: float 4s ease-in-out infinite;
}

.hero_btnCrypto {
    background: transparent;
    padding: 1em 2rem;
    border-radius: 10px;
    border: 2px solid #ac3cf6;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.hero_btnCrypto:hover {
    background-color: #ac3cf6;
}

.linha {
    opacity: 0.19;
}


.footer-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço */
    justify-content: space-around; /* Espaçamento igual entre os itens */
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 15px; 
    color: #ffffff; 
    margin-top: 10%;
    
}

.footer-container p {
    margin: 0 10px; /* Margem horizontal entre os itens */
    line-height: 1.5; /* Espaçamento entre linhas */
}

.footer-container a {
    color: #ffffff; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.footer-container a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}


.astronauta{
    margin-top: 3%;
}

.astro-float img{
    width: 40%;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

#navbar {
    display: flex;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Esconda os links do menu por padrão */
        flex-direction: column;
        position: fixed; /* Mude para 'fixed' para que o menu acompanhe o scroll */
        top: 40px; /* Ajuste conforme a altura do cabeçalho */
        left: 90%; /* Centraliza o menu na horizontal */
        transform: translateX(-50%); /* Ajuste para centralizar */
        width: 80%; /* Largura do menu */
        background-color: #fff; /* Cor de fundo para visibilidade */
        z-index: 1000;
        text-align: center; /* Centraliza o texto dos links */
        padding: 20px 0; /* Espaçamento interno */
        border-radius: 10px; /* Borda arredondada */
    }

    #menu-toggle {
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 1001; /* Certifique-se de que o botão fique acima do menu */
    }

    .nav-links.active {
        display: flex; /* Exibe o menu quando ativo */
    }

    .nav-links.show {
        display: flex; 
    }

    .menu-toggle {
        display: block;
        position: relative;
    }

    .nav-links li {
        list-style-type: none;
    }

    /* Especificamente para o botão de login */
    .nav-links .login-button {
        display: inline-block;
        padding: 10px 30px;
        margin-top: 10px !important;
        
    }

    .astro-float img{
        width: 100%;
        height: 100%;
    }

    .hero_btn {
        margin-top: 15px;
        margin-left: 14%;
    }
    
    .hero_btnCadastro {
        margin-left: 3%;
    }

    .hero_btnCrypto {
        margin-left: 13%;
    }

    .hero__img {
        width: 50%;
    }

    #lottieAnimation {
        display: none;
    }
    
    .footer-container {
        flex-direction: column; /* Alinha os itens verticalmente em telas pequenas */
        align-items: flex-start; /* Alinha os itens ao início */
    }

    .footer-container p {
        text-align: left; /* Alinha o texto à esquerda */
        margin: 10px 0; /* Margem vertical entre os itens */
    }

    .footer-container a {
    color: #ffffff; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    }

    .footer-container a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    }

}

/* section 2 */

.crypto-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 40px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 13%;
}


.crypto-text {
    font-size: 17px;
}

.crypto-text h2 {
    margin-bottom: 15px;
}


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

/* Media Queries para responsividade */
@media (max-width: 1920px) {
    header {
        padding: 20px 30px;
    }
    .container h2 {
        font-size: 32px;
    }
    .container p {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .nav-links {
        text-align: center;
        justify-content: center;
        gap: 9px;
        background-color: transparent;
    }

    .container h2 {
        font-size: 28px;
    }
    .container p {
        font-size: 16px;
    }
}


/* section 3 */

.coins-info {
    text-align: center;
    padding: 60px 20px;
    margin-top: 5%;
}

/* Estilos dos Cards de Moedas */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10%;
    margin-top: 5%;
}

.card {
    background-color: #570f9a;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fade 3s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0; /* Começa invisível */
    }
    100% {
        opacity: 3; /* Totalmente visível */
    }
}

.card:hover {
    transform: scale(1.05);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
}


.coin-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    animation: float 3s ease-in-out infinite;
    
}

/* Formulário de Investimento */
.investment-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    background-color: #570f9a;
    margin-top: 2%;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #B0BEC5;
    background-color: #fff;
    color: black;
    outline: none;
}

input::placeholder {
    color: #010101;
}

button.submit-btn {
    background-color: #fff;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
}

button.submit-btn:hover {
    background-color: #570f9a;
}


/* section 4  */

.hero__2 {
    display: flex;
    padding-inline: 1.25rem;
    overflow: hidden;
    max-width: 1280px;
    margin-inline: 5%;
    align-items: center; /* Alinha verticalmente o conteúdo */
    justify-content: space-between; /* Espaça o texto e a animação */
    padding: 10px 0; 
}

.hero__left2 {
    flex: 1;
}

.hero__title2 {
    font-size: 2.20rem;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-top: 0.75rem;
}

.hero__description2 {
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 300;
    line-height: calc(1em + 0.5rem);
    margin-block: 1.20rem; /* espaço  cima é baixo */
    max-width: 60ch;
}

.hero__right2 {
    flex: 1;
}

#lottieAnimation {

    max-width: 300%;
    margin-top: -5%; 
}